@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

/* Сбрасываем все лишние отступы и заставляем всё занимать 100% высоты */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Чтобы не было двойной прокрутки в звонке */
  background-color: #0f172a;
}